body{
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'DM Serif Display', serif;
    margin: 0;
}

.default-btn{
    background: none;
    border: solid .125rem;
    text-transform: uppercase;
    color: #ffffff;
}
/* Mobile first */

header{
    background-color: #2c2640;
}

header #top-bar{
    background-color: #ffffff;
    height: 5rem;
}

header #top-bar .logo{
    position: absolute;
    left: 1.5rem;
    top: 2rem
}

header #top-bar nav .menu-icon{
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    border: none;
    padding: 0;
    background: none;
}

header #top-bar nav .close-icon{
    display: none;
}

header #top-bar nav ul{
    position: relative;
    top: 5rem;
    background-color: #2b282f;
    height: calc(100vh - 8rem);
    text-align: center;
    padding: 3rem 0 0 0;
    display: none;
}

header #top-bar nav .nav-mobile-img{
    position: absolute;
    bottom: -1rem;
    width: 100%;
    height: 12rem;
    display: none;
}

header #top-bar nav ul li{ 
    list-style-type: none;
    text-transform: uppercase;
    height: 3.5rem
}

header #top-bar nav ul li a{ 
    text-decoration: none;
    list-style-type: none;
    color: #ffffff;
}

header #top-bar nav ul li .default-btn{ 
    width: 80%;
    height: 3.5rem
}

header .header-img{
    width: 100%;
    display: block;
}

header #header-text{
    padding: 4rem 1.625rem;
    background-color: #2c2640;
    color: #ffffff;
    text-align: center;
    position: relative;
}

header #header-text .header-bck-img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1
}

header #header-text .header-bck-img2{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    transform: translateY(50%);
    height: 13rem
}

header #header-text h1{
    position: relative;
    font-weight: 400;
    z-index: 2;
}

header #header-text .default-btn{
    position: relative;
    padding: 0.75rem 1.75rem;
    letter-spacing: .25rem;
    z-index: 2;
}
